
<fieldset data-step="4">
    <div class=" animate__animated animate__zoomIn">
        <img src="https://photo-1-baomoi.zadn.vn/w1000_r1/2019_11_09_23_32885990/8a0f6c18f85811064849.jpg"
             width="100%" height="450"/>

    </div>
</fieldset>