
<fieldset data-step="1">
    <div class="animate__animated animate__zoomIn ">
        <div>
            <div  style="display: flex; align-items: center; flex-direction: column">
                <div style="color: #091e42;font-size: 20px;font-weight: 600;">Chào mừng bạn đến với Navisoft</div>
                <div>
                    <img src="https://livechat.oncustomer.asia/images/onboarding-frame.svg">
                </div>
                <p>Là Nền tảng giao tiếp khách hàng đa kênh đầu tiên, chúng tôi đồng hành cùng
                    bạn
                    trong việc thu hút, tạo lead và giao tiếp với khách hàng hiệu quả, dù khách
                    hàng
                    ở trên Website, Facebook, Zalo hay thậm chí là điện thoại.</p>
            </div>
        </div>
    </div>
</fieldset>